@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@400;700&display=swap');

$family-sans-serif: 'Sarabun', BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Roboto', 'Oxygen',
	'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Helvetica', 'Arial',
	sans-serif;

$red: #ef4444;
$orange: #f97316;
$yellow: #fde047;
$green: #4ade80;
$turquoise: #2dd4bf;
$cyan: #22d3ee;
$blue: #3b82f6;
$purple: #a855f7;

$light-yellow: #fefce8;

$primary: $yellow;
$input-background-color: $light-yellow;

@import 'bulma/bulma.sass';

$steps-default-color: $border;
$steps-completed-color: $yellow;
$steps-active-color: $yellow;

@import 'bulma-o-steps/bulma-steps.sass';

.container {
	min-height: 100vh;
}

@supports (-webkit-touch-callout: none) {
	.container {
		min-height: -webkit-fill-available;
	}
}

.menu-button {
	height: 100%;
	white-space: normal;
	justify-content: center;
}

.is-wrap {
	white-space: initial;
}

.divider {
	width: 1px;
	background: $border;
	height: auto;
}

.content h1 {
	text-align: center;
	margin-bottom: 1.5rem;
}

.box {
	border: 1px solid $border;
}

body {
	scroll-behavior: smooth;
	background: $light-yellow;
}

hr {
	background: $border;
	height: 1px;
}

tr > th,
tr > td {
	width: 99%;
	vertical-align: middle !important;
}

tr > th,
tr > td:last-child {
	white-space: nowrap;
}

.button .icon:first-child:not(:last-child) {
	margin-left: -0.25em;
}

.button .icon:last-child:not(:first-child) {
	margin-right: -0.25em;
}

.steps-content > p {
	white-space: normal;
	width: 60%;
	margin: 0.25rem auto 0;
}

.control.has-icons-left .icon.is-left.is-danger {
	color: rgba($danger, 0.5);
}

.control.has-icons-left .input:focus ~ .icon.is-danger,
.control.has-icons-left .select:focus ~ .icon.is-danger,
.control.has-icons-right .input:focus ~ .icon.is-danger,
.control.has-icons-right .select:focus ~ .icon.is-danger {
	color: $danger;
}

.content h1:not(:first-child) {
	margin-top: unset;
}

@media print {
	.box,
	.column,
	.columns.print-linear {
		page-break-inside: avoid;
	}
	h1 {
		page-break-before: always;
	}
	.columns.print-linear {
		flex-direction: column;
	}
}

img {
	max-width: 500px;
	max-height: 300px;
	object-fit: contain;
}

.column > .box {
	height: 100%;
}
